<!-- culture/templates/district_detail.html -->

{% extends "base.html" %}

{% block title %}{{ district.name }} | Indian Cultural Atlas{% endblock %}

{% block content %}

<div class="container mt-4">

<!-- District Image -->

<div class="hero-container mb-4">

    {% if district.image %}
        <img src="{{ district.image }}" class="hero-img">
    {% endif %}

</div>


<!-- District Title -->

<div class="text-center mb-4">
    <h1 class="fw-bold">{{ district.name }}</h1>
    <h5 class="text-muted">{{ district.state.name }}</h5>
</div>


<div class="row g-4">

<!-- Famous Food -->

<div class="col-md-6">
<div class="card shadow h-100 p-4">
<h4 class="fw-bold text-primary"> Famous Food</h4>
<p>{{ district.famous_food }}</p>
</div>
</div>


<!-- Famous Festival -->

<div class="col-md-6">
<div class="card shadow h-100 p-4">
<h4 class="fw-bold text-danger"> Famous Festival</h4>
<p>{{ district.famous_festival }}</p>
</div>
</div>


<!-- Famous Temple -->

<div class="col-md-6">
<div class="card shadow h-100 p-4">
<h4 class="fw-bold text-warning">Famous Temple</h4>
<p>{{ district.famous_temple }}</p>
</div>
</div>


<!-- Famous Monument -->

<div class="col-md-6">
<div class="card shadow h-100 p-4">
<h4 class="fw-bold text-success"> Famous Monument</h4>
<p>{{ district.famous_monument }}</p>
</div>
</div>

</div>


<!-- Uniqueness Section -->

<div class="card shadow p-4 mt-4">
<h4 class="fw-bold text-dark"> What Makes It Unique</h4>
<p>{{ district.uniqueness }}</p>
</div>


<!-- Map Button -->



<div class="text-center mt-4">
    <a href="{{ district.google_maps_link }}" 
       target="_blank" 
       class="btn btn-atlas-map btn-lg">
        View on Google Maps
    </a>
</div>
{% endblock %}